@import url(./b.css);
body {
  background: #efefef;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid #dedede;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.topNavBar {
  padding: 20px 0px 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.topNavBar-inner {
  padding: 0px 16px 0px 16px
}

.topNavBar-inner>nav {
  padding-top: 3px;
  padding-bottom: 4px;
}

.topNavBar-inner>nav>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topNavBar-inner>nav>ul>li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}

.topNavBar-inner>nav>ul>li>a {
  font-size: 12px;
  color: #b7b7b7;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

.topNavBar-inner>nav>ul>li>a:hover {
  border-bottom: 3px solid red;
}

.topNavBar-inner.logo {
  font-size: 24px;
  padding-top: 3px;
  padding-bottom: 4px;
  text-decoration: none;
}

.topNavBar-inner.logo.rs {
  margin-right: 4px;
  color: #e6686a;
  text-decoration: none;
}

.banner {
  height: 515px;
  background-image: url(./img/rs-cover.jpg);
  background-position: center center;
  background-size: cover;
}

.banner .mask {
  height: 515px;
  background-color: rgba(0, 0, 0, 0.8);
}

.user-card {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.user-card .welcome {
  background: #e6686a;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  position: relative;
  margin-bottom: 10px;
}

.user-card .welcome .triangle {
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  display: block;
  position: absolute;
  left: 4px;
  top: 100%;
}

.user-card .picture {
  float: left;
}

.user-card .text {
  float: left;
  margin-left: 65px;
  width: 470px;
}

.user-card .text h1 {
  margin-top: 18px;
}

.user-card .text hr {
  margin: 20px 0;
}

.user-card .pictureAndText {
  padding: 50px
}

.user-card dl dt, .user-card dl dd {
  float: left;
  padding: 5px 0;
}

.user-card dl dt {
  width: 30%;
  font-weight: bold;
}

.user-card dl dd {
  width: 70%;
  color: #9da0a7;
}

.user-card>footer.media {
  background: #e6686a;
  text-align: center;
}

.user-card>footer.media>a {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  margin: 16px 0;
}

.user-card>footer.media>a:hover {
  background: #cf5d5f;
}

.user-card svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}

body>main {
  margin-top: -340px;
}

body>main .downloadresume {
  font-size: 14px;
  line-height: 16px;
  padding: 21px 55px;
  display: inline-block;
  border: 1px solid #CDCFD1;
  background: #efefef;
  border-radius: 2px;
  color: #3d4451;
  font-weight: bold;
  margin: 32px 0;
  transition: box-shadow 0.2s;
}

body>main .downloadresume-wrapper {
  text-align: center;
}

body>main .downloadresume:hover {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.5);
}

.self-introduction {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}